-- Kopiering af brugere og rettigheder fra een AX40 database til en anden.
-- HUSK AT FØLGENDE ÆNDRES med Search/Replace
---------------------------------------------
-- AX40SP2_KNI_INV2 til nye database
-- AX40SP2_KNI_UDV til nye database
-- 20090623 til dato for udførslen
-- /Lars Lund - 23.06.2009
---------------------------------------------
USE AX40SP2_KNI_INV2
SELECT * INTO USERINFO_Backup_20090623 FROM dbo.USERINFO
SELECT * INTO SYSUSERINFO_Backup_20090623 FROM dbo.SYSUSERINFO
SELECT * INTO USERGROUPINFO_Backup_20090623 FROM dbo.USERGROUPINFO
SELECT * INTO USERGROUPLIST_Backup_20090623 FROM dbo.USERGROUPLIST
DELETE FROM dbo.USERINFO
DELETE FROM dbo.SYSUSERINFO
DELETE FROM dbo.USERGROUPINFO
DELETE FROM dbo.USERGROUPLIST

INSERT INTO dbo.USERINFO
SELECT * FROM AX40SP2_KNI_UDV2.dbo.USERINFO

INSERT INTO dbo.SYSUSERINFO
SELECT * FROM AX40SP2_KNI_UDV2.dbo.SYSUSERINFO

INSERT INTO dbo.USERGROUPINFO
SELECT * FROM AX40SP2_KNI_UDV2.dbo.USERGROUPINFO

INSERT INTO dbo.USERGROUPLIST
SELECT * FROM AX40SP2_KNI_UDV2.dbo.USERGROUPLIST
